*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
#logo{
    text-decoration: none;
    color: black;
    font-size: 2rem;
}
h2{
    padding: 2rem;
}
.search-form{
    display: flex;
    /* padding: 2rem; */
    
}
.search-input{
    font-size: 1.5rem;
    border: none;
    border: 2px solid rgb(41, 41, 78);
    
}
.submit-btn{
    font-size: 1rem;
    border: none;
    padding: 1rem;
    color: white;
    background:rgb(41, 41, 78) ;
    border: 2px solid rgb(41, 41, 78);
    cursor: pointer;
}
.submit-btn:hover{
    color: white;
    background:rgb(26, 204, 20);
    transition: 0.5s all ease-out;
}

.gallery-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
    padding: 0.5rem 0rem;
}

.gallery-info a{
    color: grey;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    margin: auto;
    row-gap: 5rem;
    column-gap: 3rem;
    padding: 2rem 0rem;
}
.gallery-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.nav-btn{
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more{
    padding: 1rem 3rem;
    background: rgb(41, 41, 78);
    color: white;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}